.App{
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
h1{
  font-size: 40px;
  font-style: italic;
  
}

.hi{
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699228800&semt=sph");
  background-color: blueviolet;
}

#formi{
  height:80vh;
  display:flex;
  align-items: flex-start;
  justify-content: center;
}
.ar{
  width:30vw;
  height:5vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}
#out{
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  height:auto;
  border: none;
  width:auto;
  border-radius: 15px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 65%, rgba(252,176,69,1) 100%);
}
tr{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ht{
  width:30vw;
  height:7vh;
  outline: none;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.ht:hover{
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.hg{
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  width:auto;
  height:auto;
  outline:none;
  border: none;
  border-radius:5px;
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.hg:hover{
  color:#ebedee;
  background: rgb(10,159,255);
  background: radial-gradient(circle, rgba(10,159,255,1) 0%, rgba(60,231,40,1) 100%);
}
.name{
  margin-top: -2vh;
  height:60px;
  width:60px;
  padding:10px;
}
